<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="carousel-inner">
        <div class="active carousel-item"><a href="/random-sales"><img
                    src="https://images.bewakoof.com/uploads/grid/app/bewakoof-oof-sale-desktop-strip-1603097557.jpg"
                    alt="First slide" class="d-block w-100"></a></div>
        <div class="carousel-item"><a href="/random-sales"><img
                    src="https://images.bewakoof.com/uploads/grid/app/DesktopStrip-TriBe-1606924612.jpg"
                    alt="Third slide" class="d-block w-100"></a></div>
        <div class="carousel-item"><a href="/random-sales"><img
                    src="https://images.bewakoof.com/uploads/grid/app/bewakoof-shirt-and-kurta-online-fashion-shopping-DESKTOP-STRIP-1603893838.jpg"
                    alt="Third slide" class="d-block w-100"></a></div>
        <div class="carousel-item"><a href="/random-sales"><img
                    src="https://images.bewakoof.com/uploads/grid/app/bewakoof-mobile-cover-parade-shopping-banner-desktop-strip-1606294605.jpg"
                    alt="Third slide" class="d-block w-100"></a></div>
    </div> 
</body>

</html>